@import "@styles/mixins";
@import "@styles/variables";

.text {
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 300;
}

.add {
    @extend .text;
    font-size: 14px;
}

.selected {
    background: $gray-blue;
    color: $main;
    font-weight: 500;
}
