@import "../../../mixins";
@import "../../../variables";

.anchor {
    position: relative;
}
.input {
    @include card(none, 10px, 10px 20px, 500px);
    border: 1px solid $logo-gray;
}

.label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
}
