@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.anchor {
    @include flex;
}

.text {
    font-family: "Red Rose";
    font-weight: 400;
    font-size: 24px;
    color: $gray-dark;
}
