@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.anchor {
    @include circle(32px);
    background-color: $blue-pacific;
    border: 2px white solid;
    color: white;
    font-size: 10px;
}