@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.anchor {
    @include flex;
    background-color: $white-gray;
    font-family: 'Gilroy';
    border-radius: 30px;
    padding: 10px;
    width: max-content;
    gap: 10px;
    & > input {
        background-color: inherit;
    }
}