@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';
.anchor {
    position: relative;
}
.input {
    @include card(none, 10px, 10px 20px, 500px);
    border: 1px solid $gray;
}

.label {
    position: absolute;
    top: -9px;
    left: 15px;
    background: white;
    padding: 0 4px;
    color: $gray;
}
