@import "@styles/mixins";
@import "@styles/variables";

.anchor {
    font-size: 14px;
    color: $gray;
    width: 500px;
    * {
        cursor: pointer;
    }
    a {
        font-weight: 500;
        color: $gray;
    }
    input {
        accent-color: $main;
    }
}
