@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.anchor {
    @include flex;
    font-size: 14px;
    color: $gray;
    width: 500px;
    a {
        font-weight: 500;
    }
    input {
        accent-color: $main;
    }
}
