@import "@styles/mixins";
@import "@styles/variables";

.anchor {
    @include flex;
    @include card($gray-mid, 10px, 20px, auto);
    position: relative;
    margin: 20px 15px;
    input {
        height: 40px;
        width: inherit;
        padding: 0 10px;
    }
}

.area {
    @include flex;
    width: 100%;
    position: relative;
    img {
        position: absolute;
        right: 10px;
    }
}

.photo {
    position: absolute;
    left: -20px;
}