@import "@styles/mixins";
@import "@styles/variables";

.anchor {
    @include flex;
    justify-content: flex-start;
    gap: 80px;
    padding-bottom: 20px;
    border-bottom: 2px solid #E9EBEC;
    & > div > div {
        @include flex;
        height: 32px;
    }
}

.gray_text {
    font-size: 12px;
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 600;
    color: $gray;
}