@import "@styles/mixins";
@import "@styles/variables";

.anchor {
    & h1 {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
        font-family: Poppins;
    }
    & p {
        color: $dark-light;
    }
}
