@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center {
    @include flex;
    justify-content: center;
}

@mixin circle($size) {
    @include flex-center;
    border-radius: 50%;
    width: $size;
    height: $size;
}