$logo-gray: #33403d;
$main: #59a22d;
$white-gray: #f7f7f8;
$dark-gray: #EFF0F1;
$background: #fcfcfc;
$pacific-blue: #2D68A2;
$data-gray: #B5B5B5;
$azure: #4339F2;
$camine: #E95050;
$text-dark: #181A1B;
$background-gray: #F4F4F4;
$add-text-black: #181A1B;