@import "@styles/mixins";
@import "@styles/variables";

.anchor {
    @include flex;
    position: relative;
    width: 100%;
    div {
        @include flex;
        position: absolute;
        right: 10px;
        border-radius: 50%;
        cursor: pointer;
        padding: 5px;
    }
    img {

    }
    div:hover {
        background: $background;
    }
}