@import "@styles/mixins";
@import "@styles/variables";

.anchor {
    @include circle(32px);
    background-color: $blue-pacific;
    border: 2px white solid;
    color: white;
    font-size: 12px;
    font-weight: 500;
    img {
        transform: scale(1.2);
    }
}