@import "@styles/mixins";
@import "@styles/variables";

.root {
    position: fixed;
    top: 0;
    left: 0;
    @include flex-center;
    background: rgba($color: #000000, $alpha: 0.8);
    z-index: 10;
    width: 100vw;
    height: 100vh;
    zoom: 130%
}

.anchor {
    @include card(white, 14px, auto, max-content);
    position: relative;
    zoom: 80%;
}

.header {
    @include flex;
    padding: 20px 23px;
    font-weight: 600;
    font-size: 20px;
}