@import "@styles/mixins";
@import "@styles/variables";

.boards {
    @include flex;
    justify-content: flex-start;
    gap: 30px;
}

.text {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 40px 0;
}

.content {
    display: flex;
    gap: 80px;
    border-top: 1px solid $gray-mid;
    padding: 80px 130px;
}