@import "@styles/mixins";
@import "@styles/variables";

.boards {
    @include flex;
    justify-content: flex-start;
    gap: 30px;
}

.text {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.content {
    @include flex;
}