@import "../../mixins";
@import "../../variables";

.anchor {
    @include flex-center;
    border: 3px dashed #e9ebec;
    border-style: dashed dashed dashed dashed;
    border-radius: 6px;
    height: 40px;
    
    & > div {
        @include flex;
        gap: 10px;
    }
}

.text {
    color: #181a1b;
    font-size: 16px;
    font-weight: 400;
}
