@import "@styles/mixins";
@import "@styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
}

html {
    zoom: 80%;
}

body {
    margin: 0;
    font-size: 14px;
    color: $dark;
    background-color: $background;
    font-family: Roboto;
    height: 125vh;
}

a {
    text-decoration: none;
    color: white;
}

input,
textarea {
    border: none;
    outline: none;
    font-family: Roboto;
    font-size: 14px;
}

input:focus,
textarea:focus {
    outline: none;
}

#root {
    height: 100%;
}

/* Width and Height of the scrollbar */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b2a9a9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #b2a9a9 #f1f1f1;
}

/* Microsoft Edge and Internet Explorer */
*::-ms-scrollbar {
    width: 0px;
    height: 0px;
}

*::-ms-scrollbar-track {
    background: #f1f1f1;
}

*::-ms-scrollbar-thumb {
    background: #b2a9a9;
}

*::-ms-scrollbar-thumb:hover {
    background: #888;
}
