@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

@mixin flex-center {
    @include flex;
    justify-content: center;
}

@mixin flex-vertical {
    @include flex;
    flex-direction: column;
}

@mixin circle($size) {
    @include flex-center;
    border-radius: 50%;
    width: $size;
    height: $size;
    min-width: $size;
}

@mixin card($background, $radius, $padding, $width) {
    background: $background;
    border-radius: $radius;
    padding: $padding;
    width: $width;
}
