$main: #0066ff;
$background: #fcfcfc;
$red: #eb5757;
$green: #59a22d;
$blue-bright: #0062ff;
$blue-pacific: #2d68a2;
$azure: #4339f2;
$gray: #9ea3a9;
$gray-dark: #33403d;
$gray-light: #e7e7e7;
$gray-mid: #e9ebec;
$gray-blue: #eff5fb;
$dark: #181a1b;
$dark-light: #44444f;
$purple: #bb6bd9;

/**/

$logo-gray: black;
$font-gray: black;
$dark-gray: black;
$selected-gray: black;
