$logo-gray: #33403d;
$main: #59a22d;
$white-gray: #f7f7f8;
$dark-gray: #eff0f1;
$background: #fcfcfc;
$pacific-blue: #2d68a2;
$data-gray: #b5b5b5;
$azure: #4339f2;
$camine: #e95050;
$text-dark: #181a1b;
$background-gray: #f4f4f4;
$add-text-black: #181a1b;
$gray: #e9ebec;
$selected-gray: #eff5fb;
$font-gray: #838a91;
$gray1: #333333;
$purple: #bb6bd9;
$background-white: #e5e5e5;
