@import "@styles/mixins";
@import "@styles/variables";


.anchor {
    @include flex;
    align-items: flex-start;
    padding: 33px 0;
    color: $dark-light;
    justify-content: flex-start;
    & > section {
        @include flex-vertical;
        align-items: flex-start;
        gap: 20px;
        padding: 0 10px;
    }
    a {
        font-family: Poppins;
        color: $blue-bright;
        text-decoration: underline;
    }
}

.text {
    font-weight: 600;
    font-family: Poppins;
    color: $dark;
}