@import "@styles/mixins";
@import "@styles/variables";

.anchor {
    @include flex;
    @include card(none, 8px, 5px 10px, max-content);
    border: 1px solid $gray-light;
    color: $gray;
    font-family: Poppins;
    font-size: 14px;
}
