@import "@styles/mixins";
@import "@styles/variables";

.anchor {
    width: 700px;
    border-top: 1px solid $gray-mid;
    padding: 40px;
    h4 {
        font-family: Poppins;
        margin: 0 0 0 20px;
    }
}
