@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.anchor {
    @include flex;
    @include card(white, 6px, 10px, auto);
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-weight: 300;
    font-size: 14px;
}

.options {
    @include flex;
    justify-content: flex-start;
    gap: 20px;
}
