@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.anchor {
    @include flex-center;
    border: 2px dashed $gray;
    border-style: dashed dashed dashed dashed;
    border-radius: 6px;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
}
