@import "@styles/mixins";
@import "@styles/variables";


.anchor {
    @include flex-vertical;
    align-items: flex-start;
    
    position: relative;
    background-color: $gray-mid;
    height: 100%;
    width: inherit;
    h3 {
        margin: 0;
    }
    & > section {
        @include flex;
        gap: 20px;
        position: absolute;
        bottom: 14px;
    }
    input {
        @include card(white, 8px, 14px, 330px);
        font-size: 16px;
        color: $gray;
    }
    border-bottom-right-radius: 12px;
}