@import "@styles/mixins";
@import "@styles/variables";

.anchor {
    h3 {
        margin: 10px 0;
    }
    span {
        color: $gray;
    }
}

.progress {
    color: $gray;
    font-size: 16px;
}

.box {
    img {
        transform: rotate(180deg);
        transition-duration: 1000ms;
    }
}

.box2 {
    img {
        transform: rotate(0deg);
        transition-duration: 1000ms;
    }
}