@import "@styles/mixins";
@import "@styles/variables";

.anchor {
    > div {
        padding: 10px 0;
        width: 100%;
    }
    font-size: 16px;
    input {
        margin: 0;
        accent-color: $blue-pacific;
        transform: scale(1.5);
        width: 20px;
    }
    img {
        transform: scale(1.2);
    }
}